*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #555555;
  font-weight: 400;
  letter-spacing: 0.02em;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 20px 0;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
}
h2 span {
  text-transform: lowercase;
}
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
hr {
  width: 60px;
  height: 0px;
}
header {
  width: 100%;
  height: 580px;
  padding: 40px 31px 0px 31px;
  background-image: url(../images/header.jpg);
  background-position: 80% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-and-menu {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}
.header-title {
  min-width: 306px;
  height: 189px;
  margin-top: 112px;
}
.header-title-top,
.about-us-top,
.services-prices-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.header-title-top {
  width: 279px;
  height: 15px;
  color: rgba(157, 164, 189, 1);
}
.header-title-top hr {
  border: 1px solid rgba(157, 164, 189, 0.6);
}
.header-title p {
  width: 100%;
  font-size: 16px;
  color: #9da4bd;
  line-height: 1.625;
}
.about-us {
  width: 100%;
  padding: 84px 31px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us-top {
  width: 122px;
  height: 15px;
  color: #303030;
}
h3 {
  width: 330px;
  height: 66px;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #303030;
}
.about-us-first-p {
  width: 100%;
  font-size: 16px;
  line-height: 1.625;
}
.about-us-second-p {
  width: 100%;
  font-size: 14px;
  line-height: 1.85;
}
.button {
  width: 162px;
  height: 42px;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 26px 12px 24px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  transition: background-color 300ms linear, color 300ms linear;
  cursor: pointer;
}
.button:hover {
  background-color: #ff6c00;
  color: #ffffff;
}
.light {
  color: #303030;
}
.dark {
  color: #ffffff;
}
.services-prices {
  width: 100%;
  height: 890px;
  padding: 84px 31px;
  background-image: linear-gradient(
      rgba(23, 26, 36, 0.6),
      rgba(23, 26, 36, 0.6)
    ),
    url(../images/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 0%;
}
.services-prices-top {
  width: 272px;
  height: 30px;
  color: rgba(157, 164, 189, 1);
  margin-bottom: 20px;
}
.price-list {
  width: 100%;
  height: 440px;
  background: linear-gradient(rgba(23, 26, 36, 1), rgba(23, 26, 36, 0.6));
  margin: 44px auto 50px;
  padding: 30px;
}
.price-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.price-list div {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.price-list span {
  font-size: 14px;
  line-height: 2.14;
  color: #9da4bd;
  display: inline-block;
  width: auto;
  white-space: nowrap;
}
.price-list div hr {
  width: 100%;
  margin-top: 22px;
  color: rgba(157, 164, 189, 0.12);
}
.services-prices .button {
  display: block;
  margin: 0 auto;
}
